<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 	<import resource="daoContext.xml" />
	<import resource="serviceContext.xml" />
<!--	<import resource="webContext.xml" />-->
	 
	<!-- 扫描domain包中标注了@component的类，放入Spring容器 -->
	<context:component-scan base-package="domain"/>

	<!-- 扫描tools包中标注了@component的类，放入Spring容器 -->
	<context:component-scan base-package="tool"/>
	

</beans>
